@import "../../../styles/base/variables.scss";
@import "../../../styles/base/responsiveMixin.scss";

.work {
  width: 100%;
  height: calc((100vh - 64px - 50px) / 4);
  // overflow: hidden;
  // background-color: yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;

  .work-title {
    // background-color: red;
    padding-left: 1rem;
    width: 270px;

    h3 {
      font-size: 1.5rem;
      font-weight: 800;
      color: $mainDark;
    }
    h4 {
      font-size: 1rem;
      color: $mainText;
    }
    z-index: 2;
    transition: all 0.5s ease-in;

    @include atMedium {
      padding-left: 10rem;
      padding-right: 2rem;
      width: 300px;

      h3 {
        font-size: 2rem;
      }

      h4 {
        font-size: 1.2rem;
      }
    }
  }

  .work-background {
    width: 65%;
    height: 100%;
    // background-image: url("../../images/animation.jpg");
    background-size: cover;
    background-position: right;
    opacity: 0;
    z-index: 2;

    transition: all 0.5s ease-in;
  }

  .work-slideIn {
    background: $navBackground;
    position: absolute;
    width: 100%;
    height: calc((100vh - 64px - 50px) / 4);

    // opacity: 0.5;
    z-index: 1;
    margin-left: -100%;

    transition: all 0.5s ease-in;
  }

  &:hover {
    .work-title {
      h3 {
        color: $mainWhite;
      }
      h4 {
        font-size: 1rem;
        color: $mainWhite;
      }
    }
    .work-background {
      opacity: 1;
    }
    .work-slideIn {
      margin-left: 0;
    }
  }
}
