@import "../../styles/base/variables.scss";
@import "../../styles/base/responsiveMixin.scss";

.main-content {
  // padding-top: 60px;
  // background: red;

  position: absolute;
  margin-top: 64px;
  margin-bottom: 50px;
  height: calc(100vh - 64px - 50px);
  width: 100%;
  // background-color: red;

  @include atSmall {
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1000ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1000ms;
}
