@import "./variables.scss";

html {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.App {
  height: 100%;
  width: 100%;
  // margin-bottom: 100px;
}
.btn {
  background-color: $navBackground;
  color: $mainWhite;
  text-decoration: none;
  padding: 0.6rem 1.3rem;
  border-radius: 10px;
  border: 0;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.5s ease-out;
  width: 235px;

  &:hover {
    background-color: $mainWhite;
    color: $navBackground;
  }
}

a {
  text-decoration: none;
}
